.Filter {
    width: 100%;
    padding: 2rem 0;
    border-bottom: solid var(--off-white) 0.5px;
    padding-bottom: 10px;
}

.filterCategories {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    gap: 3.5rem;
}

.filterCategories li {
    margin: 0;
}

.filterCategories a {
    text-decoration: none;
    color: var(--off-white);
    cursor: pointer;
    padding: 0.5rem;
    border: none;
    background: none;
    font: inherit;
}

.filterCategories a:hover, .filterCategories button:hover, .filterCategories .active {
    color: var(--mimi-pink);
}

@media (min-width: 481px) and (max-width: 768px) {
    .filterCategories {
        gap: 2rem;
        justify-content: center;
    }

    .filterCategories a {
        padding: 0;
        font-size: 14px;
    }

    .Filter {
        border-bottom: none;
    }
}
