.headerContainer {
    background-color: var(--background);
    border-bottom: 0.75px solid var(--off-white);
    width: 100%;
    top: 0;
    position: fixed;
    padding: 10px;
}

.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: var(--body-text);
    color: var(--off-white);
    background-color: var(--background);
}

.Header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.categories li{
    list-style: none;
    margin: 1rem;
}

.categories li:hover {
    color: var(--mimi-pink);
}

.logo {
    margin: 0 1rem;
}