.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    padding: 80px;
    flex-shrink: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
  
.main {
    display: flex;
    flex-direction: column;
    color: var(--off-white);
    margin: 2rem;
}

.main h1 {
    font-family: 'against', serif;
    color: var(--off-white);
    font-size: 92px;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bannerText {
    transform: translate(17rem, -10rem);
}

.bannerText p:nth-child(2) {
    font-weight: 600;
    margin: 0.75rem 0;
}

.bannerText p:nth-child(3) {
    padding: 1rem 0;
    line-height: 1.30rem;
}