.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    padding: 80px;
    flex-shrink: 0;
    font-family: var(--regular-font);
    overflow-x: hidden;
}

.main h2 {
    font-family: var(--header-font);
}
  
.main {
    display: flex;
    flex-direction: column;
    color: var(--off-white);
    margin-top: 90px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.4);
}
  
.imgContainer::after {
    content: "ReachOut";
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 14rem;
    padding: 10px;
    font-weight: bold;
    font-family: 'against';
    font-weight: 100;
}

.imgContainer  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
    transform: scale(90%);
    width: 100%;
}

.information ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    gap: 16rem;
    font-size: 20px;

}

.aboutContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin: 2rem 1rem 0 0;
    background-color: #153332;
    width: 95%;
    padding: 0;
}

.aboutContainer img {
    margin: 17rem 0 0 8rem;
    transform: rotate(-40deg);
}

.aboutInformation {
    margin: 3.25rem 6rem 3rem -7rem;
}

.aboutInformation h2 {
    font-weight: 600;
    font-size: 40px;
}

.aboutInformation p, 
.whoContainer p, 
.promoAd p, 
.userResearch p, 
.matchInfo p,
.trackingInfo p,
.jobMatchInfo p,
.compAnalysis p
{
    font-size: 24px;
    line-height: 1.75rem;
    margin: 1rem 0;
}

.aboutInformation button {
    float: right;
    background-color: inherit;
    border: 2px solid var(--off-white);
    color: var(--off-white);
    width: 30%;
    padding: 1rem;
    font-size: 24px;
    margin: 2rem;
    font-family: var(--regular-font);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.aboutInformation button:hover {
    background-color: var(--off-white);
    color: var(--background);
}

.whoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem 8rem;
}

.whoContainer h2 {
    font-size: 40px;
    margin: 1rem 0;
}

.whoContainer img {
    margin: 3rem -2rem 3rem 0;;
}

.promoAd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3rem;
    width: 100%;
}

.promoAd img {
    margin: 0 3rem 0 0;
}

.promoAdInfo h2 {
    font-size: 40px;
}

.promoAdInfo {
    margin: 0 4rem 0 2rem;
    width: 90%;
}

.userResearch {
    margin: 6rem;
}

.userResearch h2 {
    font-size: 40px;
}

.personaContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 0 6rem;
}

.personaContainer h2 {
    margin: 1rem 0;
    font-size: 40px;
}

.personas img {
    margin: 0.75rem;
}

.personas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lineOne {
    float: left;
    display: flex;
}

.lineTwo {
    float: right;
    display: flex;
}

.userFlowContainer {
    margin: 5rem 6rem;
}

.userFlowContainer h2, .styleGuide h2, .compAnalysis h2 {
    font-size: 40px;
    margin: 1rem 0;
}

.keyFeatures {
    margin: 1rem 6rem;
}

.keyFeatures h2 {
    font-size: 40px;
}

.aiMatch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

.matchInfo {
    margin: 4rem;
}

.matchInfo h3, .trackingInfo h3, .jobMatchInfo h3  {
    font-size: 32px;
}

.aiMatch img {
    margin: 2rem;
}

.tracking {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.jobMatch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    width: 100%;
}

.jobMatchInfo {
    margin: 1.5rem;
}

.jobMatch img {
    margin: 1rem;
    transform: rotate(12deg);
}

.mockupContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.mockupContainer h2 {
    font-size: 40px;
    margin: 1rem 6rem;
}

.mockup {
    display: flex;
    flex-direction: column;
}

.mockup img {
    transform: scale(80%);
}

.styleGuide {
    margin: 0 6rem;
    justify-content: center;
    align-items: center;
}

.styleGuide img {
    margin: 1rem 0 8rem 0;
}

.compAnalysis {
    margin: 0 6.5rem 4rem 6.5rem;
}

/* tablet size */
@media (min-width: 481px) and (max-width: 768px) {

    .imgContainer::after {
        font-size: 7rem;
    }

    .main h2 {
        font-size: 32px;
    }

    .information ul {
        gap: 8rem;
        font-size: 16px;
        margin: 0;
        justify-content: center;
    }

    .aboutContainer img{
        width: 550px;
        margin: -7rem 0 0 0;
    }

    .aboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 750px;
        margin: 8rem 0;
        width: 90%;
        transform: translate(2.5rem, -4rem);
    }

    .aboutInformation {
        width: 90%;
        margin: -5rem 0 0 0;
    }

    .aboutInformation button {
        font-family: 'Lato';
        width: 40%;
        margin: 10px 0 1rem 0;
    }

    .aboutContainer h2 {
        font-size: 32px;
    }

    .main p{
        font-size: 16px;
    }

    .whoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85%;
        margin: -10rem 0 0 4rem;
    }

    .personaContainer, .lineOne, .lineTwo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aiMatch, .tracking, .jobMatch {
        display: flex;
        flex-direction: column;
    }

    .matchInfo, .trackingInfo, .jobMatchInfo {
        width: 100%;
    }

    .promoAd {
        display: flex;
        flex-direction: column;
        margin: -2rem 0 0 0;
    }
}

/* phone size */
@media (max-width: 480px) {

    .imgContainer::after {
        font-size: 4rem;
    }

    .main h2 {
        font-size: 28px;
    }

    .information ul {
        gap: 2rem;
        font-size: 12px;
        margin: 0;
        justify-content: center;
    }

    .aboutContainer img{
        transform: scale(70%) rotate(-40deg);
        width: 450px;
        margin: -7rem 0 0 0;
    }

    .aboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 750px;
        margin: 8rem 0 0 -1rem;
        width: 90%;
        transform: translate(2.5rem, -4rem);
    }

    .aboutInformation {
        width: 90%;
        margin: -5rem 0 0 0;
    }

    .aboutInformation button {
        font-family: 'Lato';
        width: 50%;
        font-size: 16px;
        margin: -1rem 1rem 1rem 1rem;
    }

    .aboutContainer h2 {
        font-size: 32px;
    }

    .main p{
        font-size: 16px;
    }

    .whoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85%;
        margin: 0 0 0 2rem;
    }

    .whoContainer img {
        transform: scale(60%);
        margin: -9rem 0;
    }

    .personaContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: -8rem 0 0 2rem;
    }

    .lineOne, .lineTwo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aiMatch, .tracking, .jobMatch {
        display: flex;
        flex-direction: column;
    }

    .matchInformation {
        width: 100%;
    }

    .userResearch, .compAnalysis, .styleGuide, .userFlowContainer, .keyFeatures {
        width: 87%;
        margin: 2rem;
    }

    .promoAd {
        display: flex;
        flex-direction: column;
        margin: -5rem 2rem;
    }

    .promoAd video {
        width: 400px;
    }

    .promoAdInfo {
        margin: -2rem 0 0 0;
    }

    .aiMatch img, .tracking img , .jobMatch img{
        transform: scale(60%);
        margin: 0;
    }

    .mockupContainer {
        width: 100%;
    }
}