.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    padding: 80px;
    flex-shrink: 0;
}
  
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--off-white);
    margin: 2rem;
}

.main h1 {
    font-family: 'against';
    color: var(--off-white);
    font-size: var(--h1);
    margin-bottom: 1rem;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bannerText {
    transform: translateX(10rem);
    width: 200%;
}

.banner img {
    transform: translateX(7rem);
}

.banner p {
    margin-bottom: 2rem;
    line-height: 1.50rem;
    text-align: justify;
}

.scroll {
    transform: translate(-21rem, -10rem);
}

.gallery p{
    margin-bottom: 1rem;
}

.gallery h3 {
    font-family: 'Merriweather';
    margin-bottom: 3rem;
}

.gallery img:first-of-type{
    margin-bottom: 5rem;
}