.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    padding: 80px;
    flex-shrink: 0;
    overflow-x: hidden;
}
  
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--off-white);
    margin: 2rem;
}

.main h1 {
    font-family: 'against';
    color: var(--off-white);
    font-size: var(--h1);
    margin-bottom: 1rem;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bannerText {
    transform: translateX(10rem);
}

.bannerText span {
    font-style: italic;
}

.banner img {
    transform: translateX(7rem);
}

.banner p {
    margin-bottom: 2rem;
    line-height: 1.50rem;
    text-align: justify;
}

.scroll {
    transform: translate(-21rem, -10rem);
}

.gallery p{
    margin-bottom: 1rem;
}

.gallery h3 {
    font-family: 'Merriweather';
    margin-bottom: 3rem;
}

.gallery img:first-of-type{
    margin-bottom: 5rem;
}

@media only screen and (min-width: 5120px) {
    .page {
        overflow-x: hidden;
        margin: 0 auto;
        padding: 0 auto;
        font-size: 22px;
    }

    .banner {
        margin: 10rem;
        justify-content: center;
        transform: translateX(18rem);
    }

    .banner h1 {
        font-size: var(--title);
        margin-bottom: 5rem;
    }

    .banner img {
        width: 3000px;
        height: 2000px;
        transform: translateX(10rem);
    }

    .bannerText {
        transform: translate(20rem, 10rem);
        margin: 2rem;
        padding: 3rem;
    }

    .bannerText p{
        line-height: 3rem;
        margin-bottom: 4rem;
    }

    .scroll {
        transform: translate(-78rem, -35rem);
        margin-bottom: 25rem;
    }

    .gallery h3 {
        font-size: var(--h1);
    }

    .gallery img {
        width: 3000;
        height: 1500;
    }

    .gallery img:first-of-type {
        margin-bottom: 7rem;
    }
}

@media only screen and (min-width: 2560px) and (max-width: 5120px) {
    .page {
        justify-content: center;
        font-size: 20px;
    }

    .bannerText {
        width: 50%;
        transform: translate(25rem, 10rem);
    }

    .bannerText h1 {
        font-size: 110px;
    }

    .bannerText p {
        line-height: 1.75rem;
    }

    .banner img {
        width: 2000px;
        height: 1400px;
        transform: translateX(13rem);
    }

    .gallery img {
        width: 1800px;
        height: 1200px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 2560px) {
    .page {
        justify-content: center;
        overflow-x: hidden;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0 auto;
    }

    .banner {
        align-items: center;
        justify-content: center;
    }

    .bannerText {
        transform: translateX(15rem);
    }

    .banner img {
        width: 1200px;
        height: 875px;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gallery img {
        width: 725px;
        height: 520px;
    }

    .gallery p {
        width: 70%;
    }

    .scroll {
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 768px) {
    .banner {
        display: flex;
        flex-direction: column;
    }

    .banner h1 {
        font-size: var(--h2);
    }

    .bannerText {
        transform: translateX(15rem);
    }

    .bannerText p {
        width: 50%;
    }

    .banner img {
        width: 900px;
        height: 675px;
        transform: translate(-2rem, -4rem);
    }

    .gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gallery img {
        width: 525px;
        height: 350px;
    }

    .gallery p {
        width: 63%;
    }

    .scroll {
        margin-bottom: 3rem;
    }
}