.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    padding: 80px;
    flex-shrink: 0;
    font-family: var(--regular-font);
    overflow-x: hidden;
}

.main h2 {
    font-family: var(--header-font);
}
  
.main {
    display: flex;
    flex-direction: column;
    color: var(--off-white);
    margin-top: 90px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.4);
}
  
.imgContainer::after {
    content: "aespa";
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 14rem;
    padding: 10px;
    font-weight: bold;
    font-family: 'against';
    font-weight: 100;
}

.imgContainer  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
    width: 100%;
}

.information ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    gap: 24.5rem;
    font-size: 20px;

}

.aboutContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin: 7rem 0;
    background-color: #dc649e
}

.aboutContainer h2, .posterVersions h2, .mockup h2 {
    font-weight: 600;
    font-size: 40px;
}

.aboutContainer p {
    font-size: 24px;
    line-height: 1.75rem;
    margin: 1rem 0;
}

.aboutContainer span {
    font-style: italic;
}

.posterVersions {
    width: 100%;
    align-items: center;
    margin: 2rem 0;
}

.imagesContainer {
    width: 100%;
    margin: 2rem 0;
}

.imagesContainer img {
    margin: 0 7rem;
}

.mockup {
    width: 100%;
    margin: 2rem 0;
}

.mockup img {
    margin: 2rem 0;
}