.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    padding: 80px;
    flex-shrink: 0;
    background-image: url("/Blur.svg");
    background-size: 3600px 2000px;
    background-position: center;
    background-repeat: no-repeat;
    font-family: var(--regular-font);
}
  
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--off-white);
    margin: 2rem;
    top: 50%;
    left: 50%;
}

.main h1 {
    font-family: var(--header-font);
    color: var(--off-white);
    font-size: var(--h1);
}

.cta {
    font-size: 62px;
    text-align: center;
    margin: 3rem;
    padding: 2rem;
}

.cta span {
    font-family: 'against';
}

.cta p:nth-of-type(1) {
    transform: translateX(-7rem);
}

.cta p:nth-of-type(2) span {
    color: var(--mimi-pink);
}

.together {
    font-style: italic;
    transform: translateX(-9rem);
}

.remarkable {
    color: var(--mimi-pink);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info h4 {
    margin-bottom: 0.5rem;
    font-size: var(--h4);
}

.info p {
    font-size: var(--body-text);
}

.email p, .snsInfo p {
    border-bottom: 1px solid var(--off-white);
    padding-bottom: 5px;
}

.sns {
    display: flex;
}

/* tablet size */
@media (min-width: 481px) and (max-width: 768px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info {
        gap: 3rem;
        transform: scale(140%);
        margin: 2rem 0 0 -10rem;
    }
}

/* phone size */
@media (max-width: 480px) {

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cta {
        transform: scale(80%);
        margin: -4rem 0 1rem 1rem;
    }

    .info {
        gap: 3rem;
        transform: scale(120%);
        margin: 2rem 0 0 -5rem;
    }
}