.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  flex-shrink: 0;
}

.main {
  display: flex;
  flex-direction: column;
  color: var(--off-white);
  margin: 2rem;
}

.main h1 {
  font-family: 'against', serif;
  font-size: 100px;
}

.devCard, .graphicCard, .uiuxCard, .motionCard {
  padding: 5rem;
  background-color: var(--off-white);
  color: var(--background);
  border-radius: 15px;
  margin: 0.5rem;
}

.lineOne, .lineTwo {
  display: flex;
  flex-direction: row;
}

.devCard {
  width: 24rem;
  background-image: url("/Dev_Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.devCard h3 {
  font-family: 'Merriweather', serif;
  font-size: var(--h2);
  font-weight: 400;
  transform: translate(3rem, 3.5rem);
}

.graphicCard h3{
  font-family: 'Merriweather', serif;
  font-size: var(--h2);
  font-weight: 400;
  transform: translate(3.5rem, 3.5rem);
}

.uiuxCard h3{
  font-family: 'Merriweather', serif;
  font-size: var(--h2);
  font-weight: 400;
  transform: translate(3rem, 3.5rem);
}

.motionCard h3 {
  font-family: 'Merriweather', serif;
  font-size: var(--h2);
  font-weight: 400;
  transform: translate(9rem, 3.5rem);
}

.graphicCard {
  background-image: url("/Graphic_Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.uiuxCard {
  background-image: url("/uiux_Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.motionCard {
  background-image: url("/motion_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.motionCard {
  width: 34rem;
}

.info {
  display: flex;
  margin: 0.5rem;
}

.info p {
  margin-left: 0.5rem;
}

.title h1:last-of-type {
  margin-left: 22rem;
  margin-bottom: 2rem;
}

.title p {
  transform: translateY(-11rem);
}