.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  flex-shrink: 0;
  background-image: url("/clouds.svg");
  background-repeat: no-repeat; 
  overflow-x: hidden;
  background-size: 95%;
  background-position: center;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  color: var(--off-white);
  margin: 2rem;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 10rem;
}

.firstName svg {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.firstName path {
  width: 100%;
  fill: transparent;
  stroke: var(--off-white);
  stroke-width: 0.7;
  stroke-dasharray: 200;
  stroke-dashoffset: 100;
  animation: textAnimation 4s ease-in-out 1 forwards;
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 50;
  }

  90% {
    fill: transparent;
  }

  100% {
    fill: var(--off-white);
    stroke-dashoffset: 0;
  }
}

.butterfly {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-20%);
  z-index: 0;
  animation: flyLeftToRightAndUp 6s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}

@keyframes flyLeftToRightAndUp {
  0% {
    left: 100%;
    top: 50%;
    transform: translateY(-20%) scale(0.5) rotate(-5deg);
  }
  25% {
    left: 75%;
    top: 53%;
    transform: translateY(-18%) scale(1.05) rotate(-10deg);
  }
  50% {
    left: 50%;
    top: 50%;
    transform: translateY(-25%) scale(0.7) rotate(-5deg);
  }
  75% {
    left: 25%;
    top: 47%;
    transform: translateY(-18%) scale(1.05) rotate(-10deg);
  }
  100% {
    left: 10%;
    top: 30%;
    transform: translateY(-20%) scale(1) rotate(10deg);
  }
}

.lastName path{
  fill: transparent;
  stroke: var(--off-white);
  stroke-width: 0.7;
  stroke-dasharray: 200;
  stroke-dashoffset: 100;
  animation: textAnimation 6s ease-in-out 1 forwards;
}

.devCard, .graphicCard, .uiuxCard, .motionCard {
  border: none;
}

.lineOne, .lineTwo {
  display: flex;
  flex-direction: row;
}

.devCard {
  width: 24rem;
  background-image: url("/Dev_Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.devCard:hover {
  background: url("/nctdream_mockup.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.devCard:hover h3 {
  display: none
}

.devCard h3 {
  font-family: 'Merriweather', serif;
  font-size: var(--h2);
  font-weight: 400;
  transform: translate(3rem, 3.5rem);
}

.graphicCard h3{
  font-family: 'Merriweather', serif;
  font-size: var(--h2);
  font-weight: 400;
  transform: translate(3.5rem, 3.5rem);
}

.uiuxCard h3{
  font-family: 'Merriweather', serif;
  font-size: var(--h2);
  font-weight: 400;
  transform: translate(3rem, 3.5rem);
}

.motionCard h3 {
  font-family: 'Merriweather', serif;
  font-size: var(--h2);
  font-weight: 400;
  transform: translate(9rem, 3.5rem);
}

.graphicCard {
  background-image: url("/Graphic_Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.uiuxCard {
  background-image: url("/uiux_Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.motionCard {
  background-image: url("/motion_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.motionCard {
  width: 34rem;
}