.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  min-height: 100svh;
  padding: 80px 0px;
  background-image: url("/clouds.svg");
  background-repeat: no-repeat; 
  background-size: 95%;
  background-position: top center;
  position: relative;
  overflow-x: hidden;
  color: var(--off-white);
  cursor: none;
}

.cursorDot {
  width: 5px;
  height: 5px;
  background-color: var(--off-white);
}

.cursorButterfly {
  width: 30px;
  height: 30px;
  background-image: url("/buttfly-1.svg");
}

.cursorDot,
.cursorButterfly {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

.main {
  display: flex;
  flex-direction: column;
  color: var(--off-white);
  margin: 2rem;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 5rem 0;
  transform: scale(90%);
}

.firstName svg {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.firstName path {
  width: 100%;
  fill: transparent;
  stroke: var(--off-white);
  stroke-width: 0.7;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: textAnimation 3s ease-in-out 1 forwards;
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 50;
  }

  90% {
    fill: transparent;
  }

  100% {
    fill: var(--off-white);
    stroke-dashoffset: 0;
  }
}

.lastName path{
  fill: transparent;
  stroke: var(--off-white);
  stroke-width: 0.7;
  stroke-dasharray: 200;
  stroke-dashoffset: 100;
  animation: textAnimation 3.5s ease-in-out 1 forwards;
}

.information ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
}

.information li {
  list-style: none;
  margin: 6rem 9rem;
}

.recentProjects h2 {
  font-size: 40px;
  font-family: 'Merriweather';
}

.circle {
  background-color: var(--off-white);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.recentProjects {
  display: flex;
  flex-direction: column;
  padding: 80px;
  width: 100%;
}

.recentCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
}

.recentCard img {
  margin-top: 6rem;
}

.projectType {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  margin-top: 3rem;
}

.projectDesc {
font-family: 'Lato';
margin: 2rem 0;
}

.projectDesc h3{
  font-size: 64px;
  width: 70%;
  margin-bottom: 3rem;
  line-height: 70px;
}

.projectDesc p {
  line-height: 24px;
  font-size: 18px;
  width: 70%;
}

.viewBtn {
  background-color: inherit;
  color: var(--off-white);
  border: none;
  font-size: 18px;
  border-bottom: 1px var(--off-white) solid;
  font-family: 'Lato';
  margin-top: 2rem;
  padding: 0 0 2px 0;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* tablet size */
@media (min-width: 600px) and (max-width: 768px) {
  .firstName, .lastName {
    transform: scale(80%);
  }

  .information li {
    margin: 0 3rem;
    font-size: 12px;
  }

  .cardContainer {
    width: 400px;
    margin: 0;
  }

  .recentProject h2 {
    font-size: 32px;
  }

  .recentCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .recentCard h3 {
    font-size: 36px;
    margin: 0;
  }

  .recentCard img {
    transform: translateX(-30rem) scale(75%);
    margin: 0;
  }

  .projectDesc {
    margin: 0;
  }

  .projectDesc p {
    line-height: 24px;
    font-size: 18px;
    width: 30%;
  }

  .recentCard:nth-child(3) .projectType,
  .recentCard:nth-child(3) .viewBtn,
  .recentCard:nth-child(3) .projectDesc {
      margin-left: -33rem;
  }

  .recentCard:nth-child(3) .projectDesc p {
    width: 50%;
  }
}