.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    padding: 80px;
    flex-shrink: 0;
    font-family: var(--regular-font);
    overflow-x: hidden;
}

.cursorDot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--mimi-pink);
}
  
.cursorButterfly {
    margin: 10px;
    transform: rotate(15deg);
}
  
.cursorDot,
.cursorButterfly {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}
  
.main {
    display: flex;
    flex-direction: column;
    color: var(--off-white);
    margin: 2rem;
}

/*

.imgContainer {
    position: relative;
    display: inline-block;
    margin: 1rem auto;
}

*/

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.4);
}

.imgContainer::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url("/fizzy-banner.jpeg");
    background-position: top;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
  
.imgContainer::after {
    content: "fizzy";
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20rem;
    padding: 10px;
    font-weight: bold;
    font-family: 'against';
    font-weight: 100;
}


.imgContainer  {
    position: relative;
    display: inline-block;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.information ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 25rem;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-family: var(--regular-font);
    flex-wrap: nowrap;
}

.information li {
    white-space: nowrap;
}

.aboutContainer, .experienceContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin: 10rem 1rem 0 0;
}

.aboutInfo, .experienceInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5rem;

}

.aboutContainer img {
    margin: 1rem 6rem 0 7rem;
    transform: rotate(15deg);
}

.aboutInfo h2, 
.targetMarketInfo h2, 
.experienceInfo h2, 
.dielineContainer h2, 
.mockupContainer h2
{ 
    font-family: var(--header-font);
    font-size: 40px;
    font-weight: 600;
    color: var(--off-white);
}

.aboutInfo p, .targetMarketInfo p, .experienceInfo p {
    font-size: 24px;
    line-height: 1.75rem;
    margin: 1rem 0;
    font-family: var(--regular-font);
    color: var(--off-white)
}

.page span {
    font-style: italic;
}

.targetMarketContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

.targetMarketInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 2rem 8rem 2rem 5rem;
}

.targetMarketContainer img {
    transform: rotate(-15deg);
    margin: 1rem 8rem 1rem 1rem;
}

.experienceContainer img {
    transform: rotate(15deg);
    margin: 0 8rem 1rem 3.5rem
}

.dielineContainer{
    width: 100%;
    margin: 10rem 0;
}

.mockupContainer {
    width: 100%;
    margin: 1rem 0;
}

.dielineImages, .mockupImages {
    margin: 1rem 0;
}

.dielineContainer img, .mockupContainer img {
    margin: 2rem 0;
}

/* tablet size */
@media (min-width: 481px) and (max-width: 768px) {
    .imgContainer {
        transform: scale(98%);
        margin: -2rem 0;
    }

    .imgContainer::after {
        font-size: 15rem;
    }

    .main h2 {
        font-size: 32px;
    }

    .information ul {
        gap: 1rem;
        font-size: 12px;
        margin: 0;
        justify-content: center;
    }

    .aboutContainer img{
        transform: scale(80%) rotate(15deg);
        margin: 1rem;
    }

    .aboutContainer {
        margin: 7rem 2rem;
    }

    .main p{
        font-size: 16px;
    }

    .targetMarketContainer img {
        transform: scale(80%) rotate(-15deg);
        margin: 1rem 6rem 1rem 0;
    }

    .experienceContainer img {
        transform: scale(80%) rotate(15deg);
    }

    .dielineContainer {
        margin: 10rem 0 0 0;
    }

    .dielineContainer img, .mockupContainer img {
        margin: 0.25rem 0;
    }
}

/* phone size */

@media (max-width: 480px) {

    .imgContainer::after {
        font-size: 9rem;
    }

    .main h2 {
        font-size: 32px;
    }

    .information ul {
        gap: 4rem;
        font-size: 12px;
        margin: 0 0 1rem 0;
        justify-content: center;
    }

    .aboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 7rem 0;
    }

    .aboutContainer img{
        transform: scale(70%) rotate(15deg);
    }

    .aboutInfo, .experienceInfo {
        width: 100%;
    }

    .main p{
        font-size: 16px;
    }

    .targetMarketContainer, .experienceContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5rem 0;
    }

    .targetMarketContainer img {
        transform: scale(70%) rotate(-15deg);
        margin: 0;
    }

    .targetMarketInfo {
        margin: 5rem 0 0 0;
    }

    .experienceContainer img {
        transform: scale(80%) rotate(15deg);
    }

    .dielineContainer {
        margin: 10rem 0 0 0;
    }

    .dielineContainer img, .mockupContainer img {
        margin: 0.25rem 0;
    }
}