.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    padding: 80px;
    flex-shrink: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
  
.main {
    display: flex;
    flex-direction: column;
    color: var(--off-white);
    margin: 2rem;
}

.main h1 {
    font-family: 'against', serif;
    color: var(--off-white);
    font-size: 128px;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner p {
    margin: 1rem;
    line-height: 1.75rem;
    text-align: justify;
}

.can {
    transform: rotate(-13deg);
    margin-right: -4rem;
}

.fizzyDesigns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.fizzyDesigns img {
    margin: 1rem;
}

.explanation {
    justify-content: center;
    align-items: center;
    margin: 3rem 3rem 1px 3rem;
    padding: 2rem;
    line-height: 1.75rem;
    text-align: justify;
}

.explanation span, .bannerText span {
    font-style: italic;
}

.backBtn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 15rem;
    padding: 3rem;
}

.backBtn button {
    background: inherit;
    border: none;
    font-size: var(--body-text);
}

.backBtn button:hover {
    color: var(--mimi-pink);
}

@media screen and (max-width: 1512px) {
    .banner img {
        width: 850px;
        height: 500px;
    }

    .bannerText h1 {
        font-size: var(--h1);
    }

    .banner {
        transform: translateX(4rem);
    }
}

@media screen and (max-width: 690px) {
    .page {
        padding: 40px;
        width: 100%;
    }

    .main {
        margin: 1rem;
    }

    .main img {
        width: 460px;
        height: 370px;
    }

    .banner {
        flex-direction: column;
    }

    .bannerText {
        transform: translateX(-1rem);
        margin: 1rem;
        width: 75%;
    }

    .fizzyDesigns img {
        width: 400px;
        height: 270px;
    }
}