.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    padding: 80px;
    flex-shrink: 0;
    font-family: var(--regular-font);
    overflow-x: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--off-white);
    margin: 2rem;
}

.cursorDot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--mimi-pink);
}
  
.cursorButterfly {
    margin: 10px;
    transform: rotate(15deg);
}
  
.cursorDot,
.cursorButterfly {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.4);
}
  
.imgContainer::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url("/mechanical-banner.jpeg");
    background-position: top;
    background-size: cover;
    background-position: center;
    z-index: 1;

    mask-image: url("/ink.gif");
    mask-size: cover;
    mask-position: center;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateX(-50%) translateY(20px); }
    100% { opacity: 1; transform: translateX(-50%) translateY(0); }
}

.imgContainer  {
    position: relative;
    display: inline-block;
    margin: 1rem auto;
    height: 850px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
.imgContainer::after {
    content: "Mechanical";
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 10rem;
    padding: 10px;
    font-weight: bold;
    font-family: 'against';
    font-weight: 100;
    z-index: 2;
    opacity: 0;
    white-space: nowrap;

    animation: fadeIn 0.5s ease-in-out 4.5s forwards;
}


.aboutContainer {
    margin: 1rem;
}

.aboutContainer h2, .comparisonContainer h2 {
    font-family: var(--header-font);
    font-size: 42px;
    margin: 1rem 0;
    width: 100%;
}

.aboutContainer p {
    font-family: var(--regular-font);
    font-size: 24px;
    line-height: 1.75rem;
    margin: 0 0 1rem 0;
}

.comparisonContainer h2 {
    margin: 0 0 2rem -1rem;
}

.comparisonContainer img {
    margin: 0 7.5rem;
}

/* tablet size */
@media (min-width: 481px) and (max-width: 768px) {

    .imgContainer {
        transform: scale(50%);
        margin: -14rem 0 0 0;
    }

    .imgContainer::after {
        font-size: 11rem;
        font-weight: 300;
    }

    .main h2 {
        font-size: 32px;
    }

    .aboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 48%;
        margin: -10rem 0 0 0;
    }

    .aboutContainer h2 {
        font-size: 32px;
    }

    .main p{
        font-size: 16px;
    }

    .comparisonContainer {
        width: 47%;
    }

    .comparison {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0;
        margin: 2rem 0;
    }

    .comparison img {
        transform: scale(50%);
        margin: -10rem -3rem;
    }
}

/* phone size */
@media (max-width: 480px) {

    .imgContainer {
        transform: scale(30%);
        margin: -18rem 0 0 0;
    }

    .imgContainer::after {
        font-size: 11rem;
        font-weight: 300;
    }

    .main h2 {
        font-size: 28px;
    }

    .aboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        margin: -16rem 0 0 0;
    }

    .aboutContainer h2 {
        font-size: 32px;
    }

    .main p{
        font-size: 16px;
    }

    .comparisonContainer {
        width: 28%;
    }

    .comparison {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0;
        margin: 2rem 0;
    }

    .comparison img {
        transform: scale(35%);
        margin: -14rem -7rem;
    }
}